body[data-page*="_sidebar.md"] #main>p {
    display: none;
}

body[data-page*="_sidebar.md"] #main.markdown-section ol,
body[data-page*="_sidebar.md"] #main.markdown-section ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -45px 200px;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li {
    position: relative;
    width: calc(33.3333% - 20px);
    height: 145px;
    margin: 0 10px 20px;
    border-radius: var(--rounded-value);
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 8px 0px;
    background: rgb(255, 255, 255);
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li.open {
    height: auto;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category {
    display: block;
    height: 100%;
    margin: 0px 10px;
    padding: 20px 25px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: var(--main-color);
    overflow: hidden;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px 0px;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li.open .category {
    height: auto;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li::before {
    content: "";
    display: block;
    width: calc(100% - 20px);
    height: 25px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 1;
    border-radius: var(--rounded-value);
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .more-button svg {
    width: 15px;
    height: 12px;
    stroke: var(--second-color);
    transition: all 0.2s ease 0s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li.open .more-button svg {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category-title {
    display: block;
    padding: 0px 0px 25px;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category ul a {
    display: block;
    margin: 0px 0px 9px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.4;
}

body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category ul a:hover,
body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category ul a:focus {
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    body[data-page*="_sidebar.md"] #main.markdown-section>ul {
        margin: 0px -10px 200px;
    }
    body[data-page*="_sidebar.md"] #main.markdown-section>ul>li {
        width: calc(50% - 20px);
        font-size: 20px;
    }
    body[data-page*="_sidebar.md"].close #main.markdown-section>ul>li {
        width: calc(33.3333% - 20px);
    }
}

@media screen and (max-width: 550px) {
    body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category-title {
        font-size: 18px;
    }
    body[data-page*="_sidebar.md"] #main.markdown-section>ul>li .category ul a {
        font-size: 14px;
    }
}

@media screen and (max-width: 475px) {
    body[data-page*="_sidebar.md"] #main.markdown-section>ul>li {
        width: calc(100% - 20px);
    }
    body[data-page*="_sidebar.md"].close #main.markdown-section>ul>li {
        width: calc(50% - 20px);
    }
}