@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');
* {
    --main-color: #64bb46;
    --second-color: #eb6309;
    --rounded-value: 8px;
    --header-height: 145px;
    --text-color: #3e3e3e;
}

body {
    font-family: 'Fira Sans Condensed', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: var(--text-color);
    width: 100%;
    height: auto;
    min-height: 100vh;
    line-height: 1.55;
    overflow-y: scroll;
}

aside.sidebar {
    padding-top: 0;
}

main {
    padding: 0;
}

.content {
    margin-top: 0px;
    height: calc(100vh - var(--header-height));
}

.content .markdown-section {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
    padding-bottom: 7px;
    font-size: 16px;
}

footer {
    display: flex;
    margin-top: auto;
    text-align: right;
}

footer span {
    width: 100%;
    margin-top: auto;
    padding-top: 2em;
    border-top: 1px solid #eee;
}

header {
    display: flex;
    position: relative;
    height: var(--header-height);
    padding: 0 0 0 300px;
    margin: 0;
    background: #f6f6f6;
    z-index: 0;
}

header .logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 595px;
    height: 100%;
    padding: 0 133px 0 0;
}

header .logo-container a {
    display: flex;
    align-items: center;
}

header .header-main-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    background: var(--main-color);
}

header .header-main-container>div {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

header .header-main-container .top-row {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header .bottom-row {
    position: relative;
    margin: 10px 0 0;
}

header .header-link {
    position: relative;
    margin: 3px 0 0 0px;
    padding: 0 0 0 30px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background-position: 0 0;
}

.header-link.support {
    margin: 3px 25px 0 0;
}

.header-link::before {
    content: '';
    display: block;
    width: 35px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-link.support::before {
    background: url(_media/chat.svg) no-repeat 0 0;
}

.header-link.phone::before {
    background: url(_media/call.svg) no-repeat 0 0;
}

header h2 {
    padding: 0;
    margin: 0 auto 0 0;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    border-bottom: none;
    line-height: 1;
}

.bottom-row .search-clone {
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    border: 0;
    border-radius: var(--rounded-value);
}

.bottom-row .search-clone:focus {
    outline: none;
}

header .bottom-row .search-clone_button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 7px 25px;
    background: url(_media/search-icon.svg) no-repeat 50% var(--second-color);
    border-radius: var(--rounded-value);
    border: none;
    cursor: pointer;
}

header .bottom-row .search-clone_button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.sidebar .sidebar-nav p {
    margin: 0 0 10px;
    padding: 10px 35px;
    border-bottom: 1px solid #eee;
}

.sidebar .sidebar-nav>ul {
    margin: 0;
    padding: 0 0 0 35px;
}

.sidebar .sidebar-nav>ul ul {
    margin: 0;
}

.sidebar .sidebar-nav .folder>ul>li>a {
    padding: 0 15px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-color: transparent;
}

.sidebar .sidebar-nav .folder>ul>li.open>a,
.sidebar .sidebar-nav .folder>ul>li.active>a {
    color: var(--main-color);
    border-color: var(--main-color);
}

.sidebar .sidebar-nav .app-sub-sidebar li.active a {
    color: var(--main-color);
    border-color: transparent;
}

.sidebar .sidebar-nav .app-sub-sidebar li a {
    padding: 0 15px 0 35px;
}

.sidebar .sidebar-nav .app-sub-sidebar li:before {
    content: none;
}

.sidebar .sidebar-nav ul li {
    margin: 0;
    cursor: pointer;
}

.sidebar .sidebar-nav ul li,
.sidebar .sidebar-nav ul li a {
    font-size: 14px;
    color: var(--text-color);
}

.sidebar .sidebar-nav ul li.folder.open {
    color: var(--main-color);
    font-weight: 600;
}

.sidebar .sidebar-nav .folder.level-1>ul>li>a:hover,
.sidebar .sidebar-nav .folder.level-1>ul>li>a:focus {
    text-decoration: none;
}

.sidebar .sidebar-nav li a:hover {
    background: rgb(158 158 158 / 0.1);
    text-decoration: none;
}

.sidebar .search,
section.content .search {
    margin: 0;
    padding: 0;
    border: 0;
}

.search .input-wrap {
    flex-flow: row wrap;
}

.search .input-wrap input {
    display: none;
}

.search .clear-button.show {
    width: 100%;
    margin: 10px 15px 0;
    padding: 5px;
    color: #fff;
    text-align: center;
    background: var(--second-color);
    border-radius: var(--rounded-value);
}

.sidebar .search .results-panel,
.content .search .results-panel {
    padding: 0 15px;
    margin: 30px 0;
    border-bottom: 1px solid #eee;
}

.content .markdown-section h1,
.content .markdown-section h2 {
    margin: 0 0 2rem;
    line-height: normal;
}

.content .markdown-section h2 {
    margin: 1.5rem 0;
    text-align: left;
}

.content .markdown-section h1 a,
.content .markdown-section h2 a {
    pointer-events: none;
}

.content .markdown-section h1 a:hover,
.content .markdown-section h1 a:focus,
.content .markdown-section h2 a:hover,
.content .markdown-section h2 a:focus {
    text-decoration: none;
}

.content .markdown-section>ul {
    padding: 0;
    list-style: none;
}

.content .markdown-section ol {
    margin: 0 0 25px;
    padding: 0 0 0 15px;
}

.content .markdown-section>ul>li {
    margin: 0 0 15px;
}

.content .markdown-section>ul>li>ul {
    list-style: disc;
}

.content .markdown-section>ul>li>ul>li ul {
    list-style: disc;
}

.content .markdown-section>ul>li>ul>li ul li::marker {
    color: var(--main-color);
}

.content .markdown-section p {
    margin: 0 0 5px;
}

.content .markdown-section .medium-zoom-image {
    display: block;
    margin: 25px auto 25px 0;
}

.content .markdown-section code {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.3px;
    color: var(--second-color);
}

.content .markdown-section pre {
    padding: 0;
    font-family: inherit;
}

.content .markdown-section pre>code {
    margin: 0;
    padding: 20px 25px;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
}

.content .markdown-section a:hover,
.content .markdown-section a:focus {
    color: var(--second-color);
}

header .header-link:hover,
header .header-link:focus {
    color: var(--text-color);
}

.markdown-section pre code::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.markdown-section pre code::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: var(--rounded-value);
}

@media screen and (max-width:1400px) {
    header .logo-container {
        width: auto;
        padding: 0 15px;
    }
    .content .markdown-section {
        max-width: 100%;
        margin: 0;
    }
    .ready.sticky.close .content .markdown-section {
        margin: 0 auto;
    }
}

@media screen and (max-width:1200px) {
    header .header-main-container .top-row {
        justify-content: flex-start;
    }
    header .header-link {
        margin-right: 15px;
        font-size: 16px;
    }
    .header-link::before {
        width: 20px;
        height: 20px;
    }
    header h2 {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .ready.sticky.close header {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    header {
        padding: 0;
    }
    .content .markdown-section h1 {
        font-size: 1.5rem;
    }
    .content .markdown-section h2 {
        font-size: 1.25rem;
    }
    .content .markdown-section>* {
        font-size: 0.9rem;
    }
    .content .markdown-section .medium-zoom-image {
        width: 100%;
    }
    .content .markdown-section {
        max-width: 100%;
    }
}

@media screen and (max-width:425px) {
    header {
        flex-flow: row wrap;
        align-content: flex-start;
    }
    header .logo-container {
        width: 100%;
        height: 45px;
        padding: 0 25px;
    }
    header .header-main-container {
        height: calc(100% - 45px)
    }
    header .bottom-row {
        margin: 5px 0 0;
    }
    header .logo-container img {
        width: 70px;
    }
    header .header-link {
        font-size: 14px;
        padding: 0 0 0 25px;
    }
    .header-link::before {
        width: 15px;
        height: 15px;
    }
    .content .markdown-section {
        max-width: 100%;
    }
    .content .markdown-section h1 {
        font-size: 1.25rem;
    }
    .content .markdown-section h2 {
        font-size: 1rem;
    }
}